body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: #eee;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#cart-icon {
    font-size: 24px;
    cursor: pointer;
}

#products {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

/* Модальне вікно */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
}

.hidden {
    display: none;
}

.cart-row {
    border: 1px solid #aaa;
    padding: 10px;
    margin-bottom: 10px;
}
