body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

li {
    margin: 5px 0;
    list-style: none;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.delete {
    margin-left: 10px;
    cursor: pointer;
}

.sort-btn {
    margin: 10px 5px 20px 0;
}
